/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2rem;
  line-height: 1.5;
  background-color: #F4E2DE;
  color: #025259; 
}

h1 {
  font-family: verdana, arial, sans-serif; 

}

button {
  padding: 10px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
  border-style: ridge;
  border-width: 5px;
}

#button1 {
    background: lightgreen;
    background-image: url("https://i.imgur.com/ZihSlWf.gif");
}

#button1:active, #button1.lit {
    background:green;
}


#button2 {
    background: pink;
    background-image: url("https://i.gifer.com/FslV.gif");
  
}

#button2:active, #button2.lit {
    background:red;
}

#button3 {
    background: lightyellow;
    background-image: url("https://i.pinimg.com/originals/69/39/4e/69394eb597e69d732257e82bf85354b8.gif");
}

#button3:active, #button3.lit {
    background:yellow;
}

#button4 {
    background: lightblue;
    background-image: url("https://media0.giphy.com/media/d5PPYjcb3caPTHM3hv/giphy.gif");
}

#button4:active, #button4.lit {
    background:blue;
}


#button5 {
    background: grey;
    background-image: url("https://cdn106.picsart.com/208215820003202.gif?to=crop&r=256");
}

#button5:active, #button5.lit {
    background:black;
    
  
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

#timer, #timerText, #startBtn, #stopBtn{
    text-align: center;
  }